body {
    font-family: "Roboto";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#centerContainer {
    width: 1200px;
    margin: 0px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* section-header */

.section-header {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 16px;
}

.logo a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
}

.nav-link a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* section-hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 25px;
}