body {
    font-family: "Roboto";
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

#centerContainer {
    max-width: 1200px;
    margin: 0px auto;
}

/* section-header */

.section-header {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* section-header part hero */

.hero {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}


div.hero-left > h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

div.hero-left > p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

div.hero-left > button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 8 32 8 32;
    margin-top: 12px;
    margin-bottom: 12px;
}


/*
div.hero-right > img {
    width: 600px;
    height: 200px;
}
*/


/* section-info */

.section-info {
    color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.info > h2 {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 150px;
}

.card img {
    border: solid #3882F6 3px;
    border-radius: 8px;
    width: 100%;
    min-height: 150px;
}

.card p {
    text-align: center;
    margin-top: 8px;
}

/* section-testimonials */

.section-testimonials {
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0px;
}

.name {
    font-weight: 900;
    align-self: flex-end;
    margin-top: 0px;
}

/* section cta */

.section-cta {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3882F6;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.cta-text-1 {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.cta-text-2 {
    color: #E5E7EB;
    margin-top: 0px;
}

.cta-right > button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: solid #F9FAF8 1px;
    padding: 8 32 8 32;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 25px;
}